services:
  attacker:
    image: ubuntu:noble
    container_name: attacker
    hostname: attacker
    networks:
      vulnnet:
        ipv4_address: 172.20.0.10
    stdin_open: true
    tty: true
    user: root
    command: [
      "/scripts/setup.sh"
    ]
    volumes:
      - ./attacker/scripts:/scripts
      - ./attacker/files:/files

  victim-django:
    image: vulhub/django:1.11.4
    container_name: victim-django
    hostname: victim-django
    networks:
      vulnnet:
        ipv4_address: 172.20.0.108
    ports:
      - "8000:8000"
    environment:
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_PASSWORD: admin
      DJANGO_SUPERUSER_EMAIL: admin@example.com

volumes:
  minio_data1:
  minio_data2:
  minio_data3:

networks:
  vulnnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
