services:
  attacker:
    image: ubuntu:noble
    container_name: attacker
    hostname: attacker
    networks:
      vulnnet:
        ipv4_address: 172.20.0.10
    stdin_open: true
    tty: true
    user: root
    command: [
      "/scripts/setup.sh"
    ]
    volumes:
      - ./attacker/scripts:/scripts
      - ./attacker/files:/files

  image: postgres:13-alpine
  container_name: victim-postgres
  networks:
    vulnnet:
      ipv4_address: 172.20.0.110
  environment:
    POSTGRES_DB: django
    POSTGRES_USER: django
    POSTGRES_PASSWORD: django

victim-django:
  image: vulhub/django:1.10.8
  container_name: victim-django
  networks:
    vulnnet:
      ipv4_address: 172.20.0.106
  ports:
    - "8000:8000"
  depends_on:
    - victim-postgres

networks:
  vulnnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
